.recent-articles:hover{
    /* transform: scale(1.15); */
    animation-name:expand ;
    animation-duration: 0.5s;
    /* animation-iteration-count: infinite; */
    animation-timing-function:ease-out;
    animation-fill-mode:forwards
}

@keyframes expand{
    0% {transform: scale(1.0);} 
    100% {transform: scale(1.1);}
  
}
